@charset "ISO-8859-1";

img:hover{
	filter:brightness(200%);
}

img{
	margin-left:40%;
	margin-right:40%;	
}

body{
	text-align: center;
}

*{

    font-family: cursive;
    background-color: black;
	color: white;
}

a:hover{
	color:purple;
}
